<%= form_with(model: inventory_food) do |form| %>
  <% if inventory_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory_food.errors.count, "error") %> prohibited this inventory_food from being saved:</h2>

      <ul>
        <% inventory_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, in: 1.0..100.0 %>
  </div>

  <div class="field">
    <%= form.label :inventory_id, "Select an inventory:", style: "display: block" %>
    <%= form.select :inventory_id, options_for_select(Inventory.pluck(:Name, :id)), include_blank: true %>
  </div>

<div class="field">
    <%= form.label :food_id, "Select a Food:", style: "display: block" %>
    <%= form.select :food_id, options_for_select(Food.pluck(:name, :id)), include_blank: true %>
  </div>



  <div>
    <%= form.submit "Create inventory food", class: "logInBtn" %>
  </div>
<% end %>
