<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Inventory Name", style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.submit "Create inventory", class:"logInBtn" %>
  </div>
<% end %>
