<div id="<%= dom_id recipe %>">
  <h1>  
    <%= recipe.name %>
  </h1>

  <div class="recipes-features">
    <p>
      <strong>Preparation time:</strong>
      <%= recipe.preparation_time %> hours
    </p>

    <p>
      <strong>Cooking time:</strong>
      <%= recipe.cooking_time %> hours
    </p>
    
    <strong>Steps to make this recipe</strong>
    <p>
      <%= recipe.description %>
    </p>

    <p class="if-public">
      <strong>Public:</strong>
      <%= recipe.public %>
   </p>
  </div>

</div>
