<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <p>
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

    <%= button_to "Destroy this recipe", recipe, method: :delete %>

    <p>
      <%= link_to "Recipe details", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
