<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
<div>
  <%= link_to "Generate shopping list", generate_shopping_path(id:@recipe)  %>
  <%if can? :destroy, @recipe%>
   <%= link_to "Add ingredient", new_recipe_food_path %>
   <%end%>
  </div>

   <ul>
  <%@recipe.recipe_foods.each do |food|%>
  <%= render food if food != nil %>
  <%end%>
  </ul>
<div>
<% if can? :update, @recipe %>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <% end %>
  <%= link_to "Back to recipes", recipes_path %>
</div>
</div>
