<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
<div>
  <button class="gen_shopping_btn">Generate shopping list</button>
  <%if can? :destroy, @recipe%>
   <%= link_to "Add ingredient", new_recipe_food_path %>
   <%end%>
  </div>

   <ul>
  <%@recipe.recipe_foods.each do |food|%>
  <%= render food if food != nil %>
  <%end%>
  </ul>
<div>
<% if can? :update, @recipe %>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <% end %>
  <%= link_to "Back to recipes", recipes_path %>
</div>
</div>

<section class="modal_shopping">
  <div class="modal-content">
    <button class="shopping_close_btn">X</button>
    <h1>Generating Shopping List:</h1>
    <p>Choose an inventory to use:</p>
    <%= render 'shopping_list'%>
  </div>
</section>

<script>

  document.querySelector('.gen_shopping_btn').addEventListener('click', (event) => {
    document.querySelector('.modal_shopping').style.visibility = 'visible'
    document.querySelector('#body').style.overflow = 'hidden'
  })

  document.querySelector('.shopping_close_btn').addEventListener('click', (event) => {
    document.querySelector('.modal_shopping').style.visibility = 'hidden'
    document.querySelector('#body').style.overflow = 'scroll'
  })
</script>
