<div class="recipes-container">
  <p style="color: green"><%= notice %></p>

  <%= render @recipe %> 

  <div class="list_btn act-btns">
    <div>
      <button class="recipe_btn"><%= link_to "Generate shopping list", generate_shopping_path(recipe_id:@recipe,inventory_id:@inventories[0].id)  %></button>

      <%if can? :destroy, @recipe%>
      <button class="recipe_btn"><%= link_to "Add ingredient", new_recipe_food_path %></button>
      <%end%>
    </div>
    <div class="back-forward">
      <% if can? :update, @recipe %>
      <button class="recipe_btn"><%= link_to "Edit this recipe", edit_recipe_path(@recipe) %></button>
      <% end %>
      <button class="recipe_btn"><%= link_to "Back to recipes", recipes_path %></button>
    </div>
    <ul>
      <%@recipe.recipe_foods.each do |food|%>
      <%= render food if food != nil %>
      <%end%>
    </ul>
  </div>
<div>