<div class="recipes-container">
  <p style="color: green"><%= notice %></p>
  <%= render @food %>

  <div class="back_food">
    <% if can? :edit, @foods %>
      <%= link_to "Edit this food", edit_food_path(@food), { class: "food_btn"} %> |
    <%end%>
      <%= link_to "Back to foods", foods_path %>
      <% if can? :destroy, @foods %>
      <%= button_to "Destroy this food", @food, method: :delete %>
    <%end%>
  </div>
</div>
