<div id="<%= dom_id recipe_food %>">
<p>
    <strong>Food</strong>
    <%= recipe_food.food.name %>
  </p>
     <p>
    <strong>Quantity:</strong>
    <%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %>
  </p>

  <p>
    <strong>Value</strong>
    <%="$"%><%= recipe_food.food.price.to_s.to_d*recipe_food.quantity.to_s.to_d %>
  </p>

  <p>
    <strong>Actions</strong>
    <%if can? :destroy, recipe_food.recipe%>
    <%= link_to "Modify", edit_recipe_food_path(id: recipe_food) %>
    <%= button_to "Remove", recipe_food, method: :delete %>
    <%end%>
  </p>

</div>
