<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "recipe", "data-turbo-track": "reload" %>
  </head>

  <body>
  <body>
  <header class="nav">
  <ul class="nav-items">
  <li class="nav_item"> <%= link_to "Recipes", recipes_path  %></li>
  <li class="nav_item"> <%= link_to "Inventories", inventories_path  %></li>
  <li class="nav_item"> <%= link_to "Foods", foods_path  %></li>
  <li class="nav_item"> <%= link_to "Public", public_recipes_path  %></li>
  <% if user_signed_in? %>
  <li class="signOut_and_userName"> 
  <div><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'signOut'%></div>
  <div class="name"><%=current_user.name[0..1].upcase  %></div>
  </li>
  <%else%>
  <li class="login_btn">
  <% if current_page?(new_user_registration_path) %>
  <%= link_to "Log in", new_session_path(resource_name) %>
  <% else%>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <%end%>
  </li>
  <%end%>

  

  </ul>
  </header>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
